<?xml version="1.0" encoding="utf-8"?>
<!--
    usage: choco install <pkg|packages.config> [<pkg2> <pkgN>] [<options/switches>]
-->
<packages>
    <package id="git" />
    <package id="intellijidea-community" />
    <package id="kubernetes-cli" />
    <package id="kubernetes-helm" />
    <package id="virtualbox" />
    <package id="vagrant" />
</packages>
